{
	CFBundleDevelopmentRegion = English;
	CFBundleExecutable = MembranePrefs;
	CFBundleIdentifier = "ca.ndoizo.membrane";
	CFBundleInfoDictionaryVersion = 6.0;
	CFBundlePackageType = BNDL;
	CFBundleShortVersionString = 1.0.0;
	CFBundleSignature = ????;
	CFBundleVersion = 1.0;
	MinimumOSVers1ion = 3.0;
	NSPrincipalClass = MembranePrefsController;
}
